[webservers]
web-1 ansible_host=111.88.246.23 fqdn=fhm1fd0k68fgmbdrmkuu.auto.internal
web-2 ansible_host=111.88.240.229 fqdn=fhmq53qqekv98cmg2buc.auto.internal
 
[databases]
main ansible_host=111.88.250.248 fqdn=fhm4h6j4le8pqkmfhsu3.auto.internal
replica ansible_host=111.88.254.108 fqdn=fhmec7dtho9dqi5qv9na.auto.internal
 
[storage]
storage ansible_host=111.88.251.0 fqdn=fhm77i26o5kqekbicv5u.auto.internal
